services:
  - type: worker
    name: gfs-bot
    runtime: docker
    plan: starter
    autoDeploy: true
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: GEMINI_API_KEY
        sync: false
      - key: HEYYY_STICKER
        sync: false
